{
  "extends": "dollarshaveclub",
  "globals": {
    "afterAll": true,
    "beforeAll": true,
    "browser": true,
    "describe": true,
    "document": true,
    "expect": true,
    "it": true,
    "jest": true,
    "test": true,
    "window": true,
    "Event": true
  },
  "rules": {
   "no-console": "off"
  }
}
